#Authorization {
    text-align: center;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 80px auto 0;

    .floating-toggle {
        position: absolute;
        top: 50px;
        right: 50px;
    }

    .form-floating {
        &:focus-within {
            z-index: 2;
        }
    }

    input {
        &[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        &[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        &[type="text"] {
            border-radius: 0;
            border-bottom: 0;
        }
    }
}

