#Dashboard {
    max-width: 1000px;
    margin: 80px auto 0;

    .logout-wrapper {
        position: absolute;
        top: 50px;
        right: 50px;
    }

    h1 {
        margin: 0 20px 20px;
    }
}
